@font-face {
    font-family: 'DejaVu';
    src: url('../assets/fonts/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.terminal-container {
    background-color: black;
    color: green;
    font-family: 'DejaVu', monospace;
    width: 100%;
}

.terminal-line {
    display: flex;
    justify-content: left;
    align-content: center;
}

.terminal-prompt {
    color: green;
    margin-left: 10px;
    margin-right: 10px;
}